/* best practice - vanjska datoteka */

body{
    background-color: lightblue;
}

h1{
    font-family: arial,sans-serif;}

    .plava{
        color: blue;
        text-indent: 0.8rem;
        padding: 10px;
        margin: 10px;
        border: 1px solid red;
    }

    #veliko{
        font-size: 4rem;
    }